.footer {
  bottom: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  color: rgb(85, 88, 88);
  flex-direction: column;
  align-items: center;
  background: #d5ddf0;
}
span,
a {
  padding: 0 1em;
  color: #205bdb;
}
